@font-face {
    font-family: NorseBold;
    src: url("Norse-Bold.woff");
}

body {
    font-family: Arial Bold, Helvetica, sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

aside {
    position: relative;
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
    width: 35%;
    height: 100%;
    overflow: none;
}

#logo-container {
    margin-top: 30%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 50%);
}

#logo {
    font-family: NorseBold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
}

#aside-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#credit-link {
    color: white;
}

main {
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 65%;
    height: 100%;
    overflow: scroll;
}

#introduction-section,
#create-button,
#links-section {
    margin-left: 50px;
}

#introduction-section {
    font-size: 25px;
    margin-top: 150px;
    margin-right: 400px;
}

#encouragement {
    font-size: 25px;
}

#fields-container {
    background-color: white;
    padding: 10px 0 10px 50px;
    margin: 60px 0 20px 0;
    box-shadow: 4px 4px 10px #ccc;
}

fieldset {
    padding: 0;
    border: none;
    display: flex;
    margin-bottom: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    width: 300px;
}

.field label {
    color: purple;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.field input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    height: 30px;
    font-size: 15px;
}

.field input:focus {
    box-shadow: 4px 4px 10px #ccc;
}

.field input:invalid {
    border-color: red;
}

#create-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #596D48;
    color: white;
    padding: 13px 50px 13px 50px;
    font-weight: bold;
    font-size: 17px;
    border: 0;
    border-radius: 8px;
}

#create-button:hover {
    cursor: pointer;
}

#login-link {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}